:root {
  --light: #fdfdfd;
  --gray: #383838;
  --sublink: #c4c4c4;
  --light-green: #4e997b;
}

.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.container {
  width: 75%;
  max-width: 1100px;
  margin: auto;
}
